<p>
    Введите свой емейл-адрес:
</p>
<form name="unsub" id="unsub" action="" method="POST">
    <input id="email" name="email" type="text" />
    <input name="submit" id="submit" type="submit" value="Отписаться" />
</form>
