<?php if (isset($errMessage)): ?>
    <p><?php echo $errMessage ?></p>
<?php else: ?>
    <p>
        Мой адрес <b><?php echo $email ?></b> и я хочу:
    </p>
    <form name="unsub" id="unsub" action="" method="POST">
        <input id="subscription1" name="subscription" type="radio" value="one" checked />
        <label for="subscription1">Отказаться от рассылок про ePocha <?php echo $program ?>.</label><br />
        <input id="subscription2" name="subscription" type="radio" value="all" />
        <label for="subscription2">Отписать от всех рассылок компании AtomPark Software.</label><br>
        <input name="submit" id="submit" type="submit" value="Отписаться" />
    </form>
    <?php echo $discountBlock ?>
<?php endif; ?>
