<p>
    <i>
        AtomPark Software will not give your e-mail address to any other companies!<br>
        To cancel the notifications, please click the link below: 
        <a href=<?php echo $url?>?e=<?php echo $email ?>&c=<?php echo $code ?>>Unsubscribe</a>
    </i>
</p>