<?php if (isset($errMessage)): ?>
    <p><?php echo $errMessage ?></p>
<?php else: ?>
    <p>Estimado señor, <?php echo $name ?>!</p>
    <p>
        Выберите пункт, по которому вы хотите отписаться от рассылок нашей компании<br />
        приходящих на адрес <b><?php echo $email ?></b>.
    </p>
    <form name="unsub" id="unsub" action="" method="POST">
        <input id="subscription1" name="subscription" type="radio" value="one" checked />
        <label for="subscription1">Отписать от рассылок о программе <?php echo $program ?>.</label><br />
        <input id="subscription2" name="subscription" type="radio" value="all" />
        <label for="subscription2">Отписать от всех рассылок.</label><br>
        <input name="submit" id="submit" type="submit" value="Отписаться" />
    </form>
    <h4>Дополнительные скидки</h4>
    <?php echo $discountBlock ?>
<?php endif; ?>
