<?php if (isset($errMessage)): ?>
    <p><?php echo $errMessage ?></p>
<?php else: ?>
    <p>
        My email address is <b><?php echo $email ?> and I would like to:
    </p>
    <form name="unsub" id="unsub" action="" method="POST">
        <input id="subscription1" name="subscription" type="radio" value="one" checked />
        <label for="subscription1">Unsubscribe from emails about <?php echo $program ?>.</label><br />
        <input id="subscription2" name="subscription" type="radio" value="all" />
        <label for="subscription2">Unsubscribe from all emails from AtomPark Software, Inc.</label><br>
        <input name="submit" id="submit" type="submit" value="Отписаться" />
    </form>
    <?php echo $discountBlock ?>
<?php endif; ?>
