<p>Hi!</p>
<p>Кто-то выразил желание отписаться от рассылок компании AtomPark Software,
приходящих на адрес <?php echo $email ?>.</p>
<p>Если это были вы - просто перейдите по следующей ссылке для подтверждения: 
<a href=<?php echo $url?>?e=<?php echo $email ?>&c=<?php echo $code ?>&atonce>Отписаться</a>
</p>
<p>Если вы не хотите отписываться от рассылок - ничего не делайте, а данное письмо можете удалить.</p>
<p>Best regards, AtompArk Software team.</p>