<p>
    <i>
        АтомПарк не передает и не продает адреса электронной почты 
        своих клиентов третьим лицами или компаниям!<br>
        Для того чтобы отказаться от получения уведомлений пожалуйста 
        перейдите по ссылке указанной далее: 
        <a href=<?php echo $url?>?e=<?php echo $email ?>&c=<?php echo $code ?>>Отписаться</a>
    </i>
</p>